body {
  text-rendering: optimizeLegibility;
  background: #333;
}
.plot {
  shape-rendering: crispEdges;
  background: white;
}
h1 {
  font-family: Helvetica;
  font-weight: normal;
  color: #fafafa;
}

/*
 * These rules apply to SVG elements, and therefore need to use SVG
 * attributes.
 */
.category {
  fill: steelblue;
  stroke: black;
}
.axis path, .axis line {
  fill: none;
  stroke: black;
}
.axis text {
  font-family: Helvetica;
}
.x.axis text {
  font-size: 10px;
}
.y.axis text {
  font-size: 12px;
}
