<h1>How Many Things</h1>

<% content_for :script_bottom do %>
<script type="text/javascript" charset="utf-8">
  $(function() {
    var endpoint = "<%= categories_path(:format => 'json') %>";
    remote_plot(endpoint, {width: 600, height: 300});
  });
</script>
<% end %>
